python=3.13.5
pylsl=1.17.6
python-osc=1.9.3 #open sound control library - low latency communication over a network 

#mido is required for MIDI support == 1.3.2
#rtmidi is required for MIDI support, MIDO BACKEND, requires C++ compiler (CLANG, or GCC, G++) as it utilized direct C-wrapper for audio backend compiling
#rtmidi == 6.0.0


#MNE development 
#mne==1.11.0 #MNE: Magnetoencephalography (MEG) and Electroencephalography (EEG) in Python 
#measures evoked potentials in brain activity/signals, and can compujte direct modeling substitution systems for MNE

#HF5 support, and MATLAB File Support 
#h5io==0.2.5 #Read and write simple Python objects using HDF5
#pymatreader==1.1.0 #A simple reader for MATLAB .mat files - may not be needed
#mne-lsl==1.11.0 #MNE-LSL: Real-time streaming of M/EEG data using the Lab Streaming Layer (LSL) protocol (need it for the Unicorn Black Hybrid Black Software)