python=3.13.5
pylsl=1.17.6
pythonosc=1.9.3

#mido is required for MIDI support == 1.3.2
#rtmidi is required for MIDI support, MIDO BACKEND, requires C++ compiler (CLANG, or GCC, G++) as it utilized direct C-wrapper for audio backend compiling
#rtmidi == 6.0.0