pylsl==1.17.6
python-osc==1.9.3

# new libraries for testing 
# mido==1.3.3 (midi generation and handling - pure python requests)
# python-rtmidi==1.5.8 (C++ backend for mido, wrapper libraries containing real-time handliing for midi connection devices via python impelementation)
# must have updated compilers, with , icl, cl, clang++, c++, g++, or clang-cl, in order to use python-rtmidi


# -- IGNORE -- for non-venv use or direct python installation patterns 
# venv access environment utilizing VS Code- on a Windows-10/11 development machine
# venv\Scripts\activate.bat 